---
import { getCollection } from 'astro:content';
import Icon from 'astro-icon';

import type { CollectionEntry } from 'astro:content';

export interface Props {
  subject: CollectionEntry<'subjects'>;
}

const courses = await getCollection('courses');

const {
  subject: {
    data: { name, description, course, campus, preview, professors, repository },
  },
} = Astro.props;

const getCourseByName = (abbreviation: string) => {
  return courses.find((course) => course?.data?.abbreviation === abbreviation);
};
---

<div class="relative bg-gray-100 mb-4 p-4 border-l-8 border-green-900">
  <a href={preview ?? repository}>
    <h2 class="text-2xl font-bold mb-4 pr-2">{name}</h2>
  </a>
  <h2 class="text-lg font-semibold mb-1">Curso</h2>
  <p class="mb-4">
    {getCourseByName(course)?.data?.level?.full} em{' '}
    {getCourseByName(course)?.data?.name}
    <span class="uppercase">
      ({getCourseByName(course)?.data?.campus})
    </span>
  </p>
  <h2 class="text-lg font-semibold mb-1">Professores</h2>
  <p class="mb-4">{professors.join(', ')}</p>
  <h2 class="text-lg font-semibold mb-1">Descrição</h2>
  <p class="mb-4">{description}</p>
  <div class="absolute top-4 right-4">
    <a
      href={repository}
      class="hover:text-gray-600 transition duration-500"
    >
      <Icon name="mdi:github" size={30} class="github-project-link" />
    </a>
  </div>
</div>
